# Code owners for java-opa-sdk.
# GitHub automatically requests a review from these owners on every pull request.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @open-policy-agent/java-opa-maintainers
